
<footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Album example is © <a href="mailto:arulmuruganarjun14@gmail.com" target="_black">Web ducky</a>, but please download and customize it for yourself!</p>
    </div>
  </footer>

  <script src="https://kit.fontawesome.com/f6369706ad.js" crossorigin="anonymous"></script>